html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue';
  overflow-x: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 410px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}

#app-root {
  height: 100%;
  position: relative;
}

.container {
  margin: 20px;
  border: 0;
  min-height: 100%;
}

.content-container {
  min-height: 100%;
}

.content-container:after {
  content: "";
  display: block;
}

@media screen and (max-width: 700px) {
  .github-ribbon {
    display: none;
  }

  .rbc-toolbar {
    width: 100%;
  }

  .rbc-toolbar-label {
    color: white;
    padding: 0;
  }

  #course-searchbox {
    width: 300px !important;
  }

  .search-list-element {
    display: flex !important;
    width: 85% !important;
    text-align: left;
    border-top: 0;
    font-size: 12px;
  }

  .result-list-coursename {
    float: left;
    width: 260px !important;
    padding: 5px;
    cursor: pointer;
  }
}

.search-container {
  width: 100%;
  height: 50px;
}

#course-searchbox {
  font-size: 20px;
  line-height: 25px;
  float: left;
  width: 400px;
  height: 40px;
  border-radius: 4px;
  outline: 0;
}

.selected-courses-list {
  width: 350px;
  margin: 5px;
}

.selected-courses-list-topic {
  font-weight: 700;
  padding: 5px;
  text-align: left;
}

.search-list-container {
  position: absolute;
  z-index: 10;
  width: 400px;
  border: 0;
  border-radius: 8px;
  background-color: #EEE;
}

.search-list-element {
  display: inline-flex;
  width: 400px;
  text-align: left;
  border-top: 1px solid #333;
  font-size: 14px;
}

.search-list-selected {
  background-color: #555;
}

.search-list-coursename {
  float: left;
  width: 390px;
  padding: 5px;
  cursor: pointer;
}

.result-list-coursename {
  float: left;
  width: 360px;
  padding: 5px;
  cursor: pointer;
}

.result-list-remove {
  line-height: 15px;
  width: 15px;
  height: 15px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background-color: #AAA;
}

.result-list-remove:hover {
  background-color: #888;
}

.header-container {
  width: 100%;
  height: 50px;
  background-color: #333;
}

.header-element {
  display: inline-block;
  float: left;
  padding-left: 20px;
  color: #CCC;
  text-decoration: none;
  font-weight: 500;
}

.header-element + .header-element {
  padding-left: 20px;
}

.header-link {
  font-size: 18px;
  padding-top: 13px;
}

.modal-dialog {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog:target {
  opacity: 1;
}

.modal-dialog > div {
  position: relative;
  width: 400px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #EEE;
}

.modal-input-container {
  width: 100%;
  height: 50px;
  padding: 10px;
}

.modal-button {
  display: inline-block;
  height: 25px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #CCC;
}

.modal-input {
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  width: 220px;
  height: 30px;
  margin-left: 5px;
  border-radius: 4px;
}

.modal-input:focus {
  outline: 0;
}

.modal-ajax-spinner {
  line-height: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: -10px;
  right: -12px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #606061;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #444;
}

.header-element-link {
  padding-top: 16px;
  cursor: pointer;
}

.footer-container {
  height: 120px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#disclaimer {
  font-weight: 500;
  color: #EEE;
  text-align: left;
  padding: 5px 5px 5px 25px;
}

#versionInfo {
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-align: left;
  padding: 5px 5px 5px 25px;
  color: #EEE;
}

#release-notes {
  color: #EEE;
  float: left;
  padding: 5px 5px 5px 25px;
}

.no-match-container {
  width: 100%;
  height: 100%;
  background-color: #DDD;
}

.no-match {
  margin: 5px;
  font-size: 24px;
}

.no-match-link {
  margin: 5px;
  font-weight: 700;
}

.no-match-ascii {
  font-weight: 700;
  width: 520px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 8px;
  font-family: Monospace;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media screen and (max-width: 699px) {
  .department-link-container {
    background-color: #555;
    padding: 10px 5px;
    height: 20px;
    font-size: 12px;
    word-break: break-all;
  }

  .department-link {
    text-decoration: none;
    font-weight: 400;
    margin: 4px;
    color: #999;
  }

  .department-link-selected {
    text-decoration: none;
    font-weight: 600;
    margin: 7px;
    color: #FFF;
  }

  .department-course-list {
    text-align: left;
    margin: auto;
    display: inline-block;
    width: 300px;
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .department-link-container {
    background-color: #555;
    padding: 5px;
    height: 30px;
    word-break: break-all;
  }

  .department-link {
    text-decoration: none;
    font-weight: 500;
    margin: 7px;
    color: #999;
  }

  .department-link-selected {
    text-decoration: none;
    font-weight: 700;
    margin: 7px;
    color: #FFF;
  }

  .department-course-list {
    text-align: left;
    margin: auto;
    display: inline-block;
    width: 500px;
    font-size: 16px;
  }
}

.department-course-code {
  font-weight: 600;
}

.department-course {
  margin: 6px 0px 6px 0px;
  display: block;
}

.department-course-selected {
  margin: 6px 0px 6px 0px;
  display: block;
  font-weight: 700;
}