body {
  font-family: Helvetica;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 15px;
  border: 0;
}

.search-container {
  width: 100%;
  height: 50px;
}

#course-searchbox {
  float: left;
  border-radius: 4px;
  width: 400px;
  height: 40px;
  line-height: 25px;
  font-size: 20px;
  outline: 0;
}

.selected-courses-list {
  width: 400px;
  border-bottom: 1px solid #333;
  margin: 5px;
}

.selected-courses-list-topic {
  font-weight: 700;
}

.search-list-container {
  border: 0;
  width: 300px;
  position: absolute;
  z-index: 10;
  background-color: #eee;
}

.search-list-coursename {
  margin: 5px;
  cursor: pointer;
}

.search-list-coursename + .search-list-coursename {
  border-top: 1px solid #333;
}