@import "calendar.scss";

body {
  font-family: Helvetica;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
