{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "6",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.7"
    }
  },
  "rules": {
    "indent": [
      2,
      2,
      {"SwitchCase": 1}
    ],
    "no-use-before-define": [2, "nofunc"],
    "no-console": [2],
    "no-unused-vars": [2, {"args": "none", "varsIgnorePattern": "App"}],
    "no-unused-expressions": [2],
    "space-infix-ops": [2],
    "no-loop-func": [2],
    "semi": [2, "never"],
    "no-alert": [2],
    "no-extra-bind": [2],
    "no-sequences": [2],
    "no-shadow": [2, {"builtinGlobals": false, "hoist": "all", "allow": []}],
    "react/jsx-uses-react": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-no-duplicate-props": [2],
    "react/jsx-key": [2],
    "react/jsx-uses-vars": [2],
    "react/no-set-state": [2],
    "react/no-deprecated": [2],
    "react/prefer-stateless-function": [2]
  }
}