{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "6",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "no-console": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [2, {"args": "none", "varsIgnorePattern": "App"}],
    "no-unused-expressions": [0],
    "new-cap": [0],
    "space-infix-ops": [0],
    "no-loop-func": [0],
    "semi": [2, "never"],
    "no-alert": [0],
    "no-extra-bind": [0],
    "no-sequences": [0],
    "no-shadow": [2, {"builtinGlobals": false, "hoist": "all", "allow": []}],
    "react/jsx-uses-react": 2,
    "react/display-name": 0
  }
}