*.txt
.idea/
target/
logs/
.idea/
*.iml
src/main/resources/lukkarimaatti.properties
deploy.sh
src/main/webapp/app/js/*.min.js
src/main/webapp/app/css/*.min.css
build/
gradle/
gradlew/
gradlew.bat
gradlew
bower_components/
.gradle/
src/main/webapp/app/server.js
src/main/webapp/app/js/lib/
src/main/webapp/app/node_modules/
src/main/webapp/app/dist/
src/main/webapp/app/test/node_modules/
src/main/webapp/node_modules/
src/main/generated/
out/
src/test/java/org/ltky/DBTest.java
*.log
data/
