*.txt
.idea/
target/
logs/
.idea/
*.iml
src/main/resources/properties/database.properties
deploy.sh
src/main/webapp/WEB-INF/static/js/*.min.js
src/main/webapp/WEB-INF/static/css/*.min.css
build/
gradle/
gradlew/
gradlew.bat
gradlew
bower_components/
.gradle/
src/main/webapp/WEB-INF/app/server.js
src/main/webapp/WEB-INF/app/js/lib/
src/main/webapp/WEB-INF/app/node_modules/
src/main/webapp/WEB-INF/app/dist/
src/main/webapp/WEB-INF/app/test/node_modules/
src/main/resources/properties/parser.properties
