<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="aboutModalLabel">About</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lukkarimaatti++ scheduling tool for time table planning and creation.
                    It started as an open source hobby project. Project repository is available at
                    <a href="https://github.com/Laastine/lukkarimaatti">Github</a>.
                    Lukkarimaatti has sister
                    <a href="https://play.google.com/store/apps/details?id=fi.kapsi.coffeebreak.lutcampus.original.release">Android
                        project</a>
                    which uses Lukkarimaatti backend for course data.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>