<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">

        <div id="header" class="navbar-fixed-top navbar-collapse navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">Lukkarimaatti++ [beta]</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="">Home</a></li>
                        <li><a data-toggle="modal"
                               href="#saveModal"
                               id="saveModalButton">Save</a></li>
                        <li><a data-toggle="modal"
                               href="#aboutModal"
                               id="aboutModalButton">About</a></li>
                        <li><a data-toggle="modal"
                               href="#contactModal"
                               id="contactModalButton">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/Laastine/lukkarimaatti" target="_blank" data-bypass>Fork me on GitHub</a>
    </div>
</div>

<!--aboutModal-->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="aboutModalLabel">About</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lukkarimaatti++ scheduling tool for time table planning and creation.
                    It started as an open source hobby project.
                    Lukkarimaatti++ has sister
                    <a href="https://play.google.com/store/apps/details?id=fi.kapsi.coffeebreak.lutcampus.original.release">Android
                        project</a>
                    which uses Lukkarimaatti++ backend for course data.
                </p>

                <p>
                    <b>Few tips:</b><br/>
                    -Click event and Lukkarimaatti++ removes event with same code and type e.g.(BM20A5800/H22).<br/>
                    -Courses are listed under search bar and courses are linked to its Noppa (noppa.lut.fi) page.<br/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--contactModal-->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="contactModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <p>
                    Developer: Mikko Kaistinen</br>
                    etunimi.sukunimi@lut.fi</br>
                    Laastine @IRCnet</br>
                    </br>
                    Please report all issues to Github's issue tracker.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--saveModal-->
<div class="modal fade" id="saveModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="saveModalLabel">Save</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="input-group-lg" action='save' id="saveForm">
                    <div class="row" style="padding-top: 5px; padding-left: 10px;">
                        <span>
                            <p>Send course selection URL to your email.</p>
                            <input type="email" class="input-lg" id="saveEmail" placeholder="Email">
                            <button type="button" id="saveId" class="btn btn-default">Send</button>
                        </span>
                    </div>
                    </br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>