<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">

        <div id="header" class="navbar-fixed-top navbar-collapse navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">Lukkarimaatti++ [beta version]</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a data-bypass href="#" id="aboutModalButton">About</a></li>
                        <li><a data-bypass href="#" id="contactModalButton">Contact</a></li>
                        <li><a data-bypass href="#" id="saveModalButton">Save</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/Laastine/lukkarimaatti" target="_blank" data-bypass>Fork me on GitHub</a>
    </div>
</div>