<div class="modal fade" id="saveModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="saveModalLabel">Save</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="input-group-lg" action='save' id="saveForm">
                    <div class="row" style="padding-top: 5px; padding-left: 10px;">
                        <input type="email" class="input-lg" id="saveEmail" placeholder="Email">
                    </div>
                    </br>
                    <button id="saveId" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>