<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="rolling" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/lukkarimaatti.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="30"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d %c %M - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="rolling"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="rolling"/>
    </logger>

    <logger name="org.jboss" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="rolling"/>
    </logger>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="rolling"/>
    </root>

</log4j:configuration>