<div id="footer">
    <div id="disclaimer">
        <b>Use with your own risk!</b>
    </div>
    <div id="versionInfo">
        <p>v1.0.1</br>
            User-friendly URL: http://laastine.kapsi.fi/lukkarimaatti</p>
    </div>
</div>