<div class="col-sm-6" style="padding-top: 10px">
    <form role="course-search-form" method="post">
        <div class="form-group">
            <input id="courseSearchBox" type="search" class="typeahead"
                   placeholder="Enter course name"/>
        </div>
    </form>

    <table class="table table-responsive" id="courseList">
        <thead>
        <tr>
            <th>Selected courses</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>