<div class="col-sm-6" style="padding-top: 10px">
    <select id="searchbar-select2" class="form-control">
        <option value="0" selected="selected">Select a course</option>
    </select>

    <table class="table table-responsive" id="courseList">
        <thead>
        <tr>
            <th>Selected courses</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>