@charset "UTF-8";

@import url('./github-fork.css');
@import url('../../../node_modules/fullcalendar/dist/fullcalendar.css');
@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');

html,
body {
    padding-bottom: 10px;
}

.container-narrow > hr {
    margin: 40px 0;
}

html {
    overflow-y: scroll;
    *overflow-x: hidden;
}

@media (max-width: 500px) {
    .github-fork-ribbon-wrapper {
        display: none !important;
    }
    .fc-month-button {
        display: none !important;
    }
}

html {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

.dialog label {
    width: 90px;
    float: left;
}

.dialog {
    width: 70px;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 10px 0;
}

.typeahead,
.tt-hint {
    width: 40vw;
    height: 40px;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #024e6a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 40vw;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 18px;
}

.tt-suggestion + .tt-suggestion {
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.tt-suggestions {
    font-size: 20px;
    font-weight: bold;
}

.tt-suggestions {
    margin: 0;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #03739c;
}
