@charset "UTF-8";
@import './github-fork.css';
@import './node_modules/fullcalendar/dist/fullcalendar.css';
@import './node_modules/bootstrap/dist/css/bootstrap.css';
@import "./font.css";

html,
body {
    padding-bottom: 10px;
}

.container-narrow > hr {
    margin: 40px 0;
}

html {
    overflow-y: scroll;
    *overflow-x: hidden;
}

@media (max-width: 500px) {
    .github-fork-ribbon-wrapper {
        display: none !important;
    }

    .fc-month-button {
        display: none !important;
    }
}

html {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

.dialog label {
    width: 90px;
    float: left;
}

.dialog {
    width: 70px;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 10px 0;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 40vw;
    height: 40px;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #bbb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 12px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}