@charset "UTF-8";

@import url('./github-fork.css');
@import url('../../../node_modules/fullcalendar/dist/fullcalendar.css');
@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../../node_modules/select2/dist/css/select2.css');

html,
body {
    padding-bottom: 10px;
}

.container-narrow > hr {
    margin: 40px 0;
}

html {
    overflow-y: scroll;
    *overflow-x: hidden;
}

@media (max-width: 500px) {
    .github-fork-ribbon-wrapper {
        display: none !important;
    }

    .fc-month-button {
        display: none !important;
    }
}

html {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

#searchbar-select2 {
    padding-bottom: 20px;
}

.dialog label {
    width: 90px;
    float: left;
}

.dialog {
    width: 70px;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 10px 0;
}