<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="rolling-file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/lukkarimaatti.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %p %t %l - %m%n"/>
        </layout>
    </appender>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %t %l - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="o.s" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="o.h" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.jboss" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>